# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables
.env

# Logs
*.log

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# Editor / IDE
.vscode/
.idea/
*.swp
.DS_Store
llms.txt
SOP.md